@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: ‘Gilroy’;
  font-weight: 500;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 0px;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

.container {
  position: relative;
  margin: 0px auto;
  width: 100%;
  max-width: 480px;
  padding: 0px 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.invisible-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0;
  }
}

.popular-categories__title {
  font-family: Gilroy;
  font-size: 36px;
  line-height: 53px;
  font-weight: 800;
  color: #000000;
  margin-top: 50px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .popular-categories__title {
    font-size: 43px;
  }
}

.popular-categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

@media screen and (min-width: 768px) {
  .popular-categories__list {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .popular-categories__list {
    padding-top: 50px;
  }
}

.popular-categories__item {
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .popular-categories__item {
    width: calc((100% - 14px) / 2);
    margin-bottom: 14px;
  }
  .popular-categories__item:not(:nth-child(2n)) {
    margin-right: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .popular-categories__item {
    -ms-flex-preferred-size: calc((100% - 3 * 66px) / 3);
        flex-basis: calc((100% - 3 * 66px) / 3);
  }
  .popular-categories__item:not(:last-child) {
    margin-right: 66px;
  }
}

.popular-categories__block {
  max-width: 356px;
  height: 268px;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: 10px auto;
}

.popular-categories__block:hover, .popular-categories__block:focus {
  background-color: #14bf69;
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .popular-categories__block {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .popular-categories__block {
    width: 356px;
  }
}

.popular-categories__block-title {
  font-family: Gilroy;
  font-size: 17px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
  padding-top: 47px;
  padding-left: 30px;
}

@media screen and (min-width: 768px) {
  .popular-categories__block-title {
    font-size: 19px;
    padding-left: 40px;
  }
}

.popular-categories__block-list {
  font-family: Gilroy;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  padding-left: 30px;
  padding-top: 29px;
}

@media screen and (min-width: 768px) {
  .popular-categories__block-list {
    font-size: 16px;
    padding-left: 40px;
  }
}

.popular-categories__block-link {
  color: #000000;
}

.popular-categories__button {
  color: #fff;
  background-color: #15bf69;
  margin: 50px auto;
  padding: 15px 57px;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 800;
  border-radius: 3px;
  border: none;
  text-align: center;
  display: block;
}

.popular-categories__block:hover .popular-categories__block-link,
.popular-categories__block:focus .popular-categories__block-link {
  color: #ffffff;
}

.popular-categories__block:hover .popular-categories__block-title,
.popular-categories__block:focus .popular-categories__block-title {
  color: #ffffff;
}

.popular-categories__block-link:hover,
.popular-categories__block-link:focus {
  font-weight: bold;
}

.free-consultation {
  height: 391px;
  background-image: url("../images/bg-nature.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.free-consultation__title {
  font-family: Gilroy;
  font-size: 19px;
  line-height: 53px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
}
/*# sourceMappingURL=main.css.map */