@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: ‘Gilroy’;
  font-weight: 500;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 0px;
}
body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

.container {
  position: relative;
  margin: 0px auto;
  width: 100%;
  max-width: 480px;
  padding: 0px 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.invisible-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.first-header-container {
  position: relative;
}
@media screen and (max-width: 1199px) {
  .first-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.first-header {
  padding-top: 30px;
}
@media screen and (max-width: 1199px) {
  .first-header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f1efef;
  }
}

.first-header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 130px;
}
@media screen and (max-width: 1199px) {
  .first-header__top {
    padding: 0 20px;
    margin-bottom: 0;
  }
}

.first-header__search {
  position: relative;
}
@media screen and (max-width: 1199px) {
  .first-header__search {
    display: none;
  }
}

.first-header__search-field {
  font-family: "Glroy";
  background: transparent;
  padding: 11px 124px 12px 20px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #666464;
}

.first-header__search-btn {
  padding: 22px 19px;
  background-color: #23dc7f;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 282px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-position: 52%;
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .first-header__mail {
    display: none;
  }
}

.first-header__mail-img {
  width: 33px;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 17px;
}

.first-header__mail-content {
  display: inline-block;
  vertical-align: middle;
}

.mail-box__link {
  display: block;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #383838;
}

.first-header__mail-text {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #908f8f;
}

@media screen and (max-width: 767px) {
  .first-header__phone {
    display: none;
  }
}

.first-header__phone-img {
  width: 30px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 17px;
}

.first-header__phone-content {
  display: inline-block;
  vertical-align: middle;
}

.first-header__phone-link {
  display: block;
  font-family: Gilroy;
  font-size: 18px;
  line-height: 19px;
  font-weight: 400;
  color: #383838;
}

@media screen and (max-width: 1199px) {
  .first-header__cart {
    margin: 0 44px;
  }
}

.first-header__cart-img {
  width: 37px;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 17px;
  position: relative;
}

.first-header__cart-content {
  display: inline-block;
  vertical-align: middle;
}

.first-header__card-text {
  display: block;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #383838;
}
@media screen and (max-width: 767px) {
  .first-header__card-text {
    display: none;
  }
}

.first-header__card-price {
  display: block;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #383838;
}
@media screen and (max-width: 767px) {
  .first-header__card-price {
    display: none;
  }
}

.first-header__cart-count {
  width: 21px;
  height: 21px;
  background-color: #15bf69;
  border-radius: 50%;
  font-family: Gilroy;
  font-size: 13px;
  line-height: 19px;
  font-weight: 700;
  color: #ffffff;
  padding: 1px 7px;
  position: absolute;
  top: -9px;
  right: -13px;
}

.first-header__bottom {
  background-color: #000000;
  padding: 20px 35px;
}
@media screen and (max-width: 1199px) {
  .first-header__bottom {
    display: none;
  }
}

.first-header__nav {
  max-width: 920px;
  display: block;
  margin: 0 auto;
}

.first-header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first-header__nav li {
  margin-left: 10px;
}
.first-header__nav li::after {
  content: "";
  display: inline-block;
  background-color: transparent;
  background-image: url(../images/header_dots.png);
  width: 10px;
  height: 10px;
  margin-left: 40px;
}
.first-header__nav li:last-child::after {
  content: "";
  background: none;
  margin-left: 0;
}

.first-header__nav a {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
  color: #ffffff;
  padding: 20px 0;
}

.logo {
  width: 129px;
  height: 129px;
  position: absolute;
  top: 23px;
  left: 0;
}
@media screen and (max-width: 1199px) {
  .logo {
    display: inline-block;
    position: static;
  }
}
@media screen and (max-width: 767px) {
  .logo {
    width: 82px;
    height: 82px;
  }
}

.menu-btn {
  display: none;
  background: transparent;
}
@media screen and (max-width: 1199px) {
  .menu-btn {
    display: block;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  padding: 60px 0 60px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media (min-width: 1200px) {
  .menu-container {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: 12px;
  right: 28px;
  background-color: transparent;
  cursor: pointer;
}
.menu-close__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close:hover .menu-close__icon, .menu-close:focus .menu-close__icon {
  fill: #15bf69;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;
  cursor: pointer;
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  width: 209px;
  height: 44px;
  border: none;
  border-radius: 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #15bf69;
}
.menu-button__icon {
  margin-left: 16px;
  fill: #15bf69;
  stroke: #15bf69;
}

.mobile-menu__navigation li a {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__navigation li a:hover, .mobile-menu__navigation li a:focus {
  color: #15bf69;
}

.mobile-menu__navigation li {
  border-top: 1px solid #ccc;
  padding: 13px 127px 13px 21px;
}
.mobile-menu__navigation li:last-child {
  border-bottom: 1px solid #ccc;
}

.first-header__mail--mobile {
  padding: 20px;
}

.first-header__phone--mobile {
  padding: 0 20px;
}

.container {
  outline: 1px solid red;
}

.second-header {
  position: relative;
  height: 100px;
  border-bottom: 1px solid #e3e3e3;
}

.second-header__logo--image {
  position: absolute;
  top: 27px;
  width: 143px;
  height: 143px;
}

@media screen and (max-width: 767px) {
  .second-header__wrap {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .second-header__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .second-header__wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.second-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .second-header__list {
    margin-left: 274px;
  }
}

.second-header__item {
  margin-right: 20px;
}
.second-header__item:not(:last-child):after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 43px;
  margin-right: 20px;
  background-image: url("../images/catalog_images/slash.png");
  -webkit-transform: translateY(calc(100% / 3));
          transform: translateY(calc(100% / 3));
}

.second-header__item > a {
  padding-top: 45px;
  padding-bottom: 45px;
  color: #000000;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 27px;
  position: relative;
}

.second-header__link--current {
  font-weight: 700;
}
.second-header__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #f59701;
}

.second-header__contacts {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .second-header__contacts {
    display: none;
  }
}

.second-header__contacts > a {
  color: #000000;
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1;
}
.second-header__contacts > a::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 9px;
  background-image: url("../images/catalog_images/phone_2.png");
  -webkit-transform: translateY(calc(100% / 4));
          transform: translateY(calc(100% / 4));
}

.second-header__callback {
  margin-top: 10px;
  color: #838383;
  font-family: "Gilroy";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1;
  text-align: right;
}

/*.container {
  padding: 0px 15px;
}*/
.sale__title {
  font-family: Gilroy;
  font-size: 36px;
  line-height: 53px;
  font-weight: 800;
  color: #000000;
  margin-top: 50px;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .sale__title {
    font-size: 43px;
  }
}
.sale__title::before {
  position: absolute;
  left: 15px;
  top: 20px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  content: "";
  width: 26px;
  height: 7px;
  background-color: #f59701;
}
@media screen and (min-width: 768px) {
  .sale__title::before {
    width: 46px;
    height: 9px;
  }
}
@media screen and (min-width: 1200px) {
  .sale__title::before {
    left: 250px;
  }
}

.sale__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sale__block {
  width: 100%;
  margin-left: 30px;
  -ms-flex-preferred-size: calc((100% - 90px) / 2);
      flex-basis: calc((100% - 90px) / 2);
}
@media screen and (min-width: 768px) {
  .sale__block {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .sale__block {
    -ms-flex-preferred-size: calc((100% - 150px) / 5);
        flex-basis: calc((100% - 150px) / 5);
  }
}

.sale__text {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.sale__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 9px solid #15bf69;
  height: 136px;
  width: 136px;
  margin: 38px auto;
  position: relative;
}

.sale__icon {
  width: 52px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sale__icon::before {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #f59701;
  position: absolute;
  z-index: -1;
  -webkit-transform: translate(25px, -10px);
          transform: translate(25px, -10px);
  content: "";
}

.sale__button {
  background-color: #15bf69;
  margin: 50px auto;
  padding: 15px 57px;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 800;
  border-radius: 3px;
  border: none;
  text-align: center;
  display: block;
}

.sale__button-link {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0;
  }
}

.popular-categories__title {
  font-family: Gilroy;
  font-size: 36px;
  line-height: 53px;
  font-weight: 800;
  color: #000000;
  padding-top: 50px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .popular-categories__title {
    font-size: 43px;
  }
}
.popular-categories__title::before {
  position: absolute;
  left: -5px;
  top: 68px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  content: "";
  width: 26px;
  height: 7px;
  background-color: #f59701;
}
@media screen and (min-width: 768px) {
  .popular-categories__title::before {
    left: 70px;
    width: 46px;
    height: 9px;
  }
}
@media screen and (min-width: 1200px) {
  .popular-categories__title::before {
    left: 290px;
  }
}

.popular-categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .popular-categories__list {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .popular-categories__list {
    padding-top: 50px;
  }
}

.popular-categories__item {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .popular-categories__item {
    width: calc((100% - 14px) / 2);
    margin-bottom: 14px;
  }
  .popular-categories__item:not(:nth-child(2n)) {
    margin-right: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .popular-categories__item {
    -ms-flex-preferred-size: calc((100% - 3 * 66px) / 3);
        flex-basis: calc((100% - 3 * 66px) / 3);
  }
  .popular-categories__item:not(:last-child) {
    margin-right: 66px;
  }
}

.popular-categories__block {
  max-width: 356px;
  height: 268px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(97%, #f2f2f2), color-stop(3%, #15bf69));
  background-image: linear-gradient(to top, #f2f2f2 97%, #15bf69 3%);
  border-radius: 20px;
  margin: 10px auto;
  opacity: 1;
}
.popular-categories__block:hover, .popular-categories__block:focus {
  background: #15bf69;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .popular-categories__block {
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .popular-categories__block {
    width: 356px;
  }
}

.popular-categories__block-title {
  font-family: Gilroy;
  font-size: 17px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
  padding-top: 47px;
  padding-left: 30px;
}
@media screen and (min-width: 768px) {
  .popular-categories__block-title {
    font-size: 19px;
    padding-left: 40px;
  }
}

.popular-categories__block-list {
  font-family: Gilroy;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  padding-left: 30px;
  padding-top: 29px;
}
@media screen and (min-width: 768px) {
  .popular-categories__block-list {
    font-size: 16px;
    padding-left: 40px;
  }
}

.popular-categories__block-link {
  color: #000000;
}

.popular-categories__button {
  background-color: #15bf69;
  margin: 50px auto;
  padding: 15px 57px;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 800;
  border-radius: 3px;
  border: none;
  text-align: center;
  display: block;
}

.popular-categories__button-link {
  color: #ffffff;
}

.popular-categories__block:hover .popular-categories__block-link,
.popular-categories__block:focus .popular-categories__block-link {
  color: #ffffff;
}

.popular-categories__block:hover .popular-categories__block-title,
.popular-categories__block:focus .popular-categories__block-title {
  color: #ffffff;
}

.popular-categories__block-link:hover,
.popular-categories__block-link:focus {
  font-weight: bold;
}

.popular-categories__block-item:hover .popular-categories__block-link,
.popular-categories__block-item:focus .popular-categories__block-link {
  font-weight: bold;
}
.popular-categories__block-item:hover .popular-categories__block-link::before,
.popular-categories__block-item:focus .popular-categories__block-link::before {
  position: absolute;
  content: "";
  -webkit-transform: translate(-150%, 120%);
          transform: translate(-150%, 120%);
  width: 20px;
  height: 7px;
  background-color: #f59701;
}
@media screen and (min-width: 768px) {
  .popular-categories__block-item:hover .popular-categories__block-link::before,
.popular-categories__block-item:focus .popular-categories__block-link::before {
    width: 29px;
    height: 8px;
    -webkit-transform: translate(-140%, 95%);
            transform: translate(-140%, 95%);
  }
}
@media screen and (min-width: 1200px) {
  .popular-categories__block-item:hover .popular-categories__block-link::before,
.popular-categories__block-item:focus .popular-categories__block-link::before {
    width: 29px;
    height: 8px;
    -webkit-transform: translate(-137%, 95%);
            transform: translate(-137%, 95%);
  }
}

.free-consultation {
  background-image: url("../images/bg-nature.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 73px;
  padding-bottom: 69px;
}
.free-consultation__title {
  font-family: Gilroy;
  font-size: 19px;
  line-height: 53px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 33px;
}
.free-consultation__subtitle {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 37px;
  max-width: 447px;
}

.form-field {
  display: block;
}
.form-field .form-field__contact-input {
  min-width: 254px;
  height: 48px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

.form-call-back__btn {
  background-color: #15bf69;
  padding: 15px 57px;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 800;
  border-radius: 3px;
  border: none;
  text-align: center;
  color: #ffffff;
}

.our-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.our-clients__item {
  display: inline-block;
  vertical-align: top;
  outline: 1px solid red;
  height: 100%;
}
.our-clients__item:not(:nth-child(6n+3)) {
  width: 200px;
}
.our-clients__item:nth-child(6n+3) {
  width: 140px;
}

.news-list {
  margin: 19px 0 73px 0;
}

.separate {
  color: #15bf69;
}

.news-list__link {
  color: #15bf69;
  margin-bottom: 34px;
  font-family: Gilroy;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 18px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.news-list__link-active {
  color: #a5a6a6;
}

.news-list__title {
  position: relative;
  font-family: Gilroy;
  margin-bottom: 48px;
  color: #000000;
  font-size: 29px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: normal;
  line-height: 35.33px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.news-list__title::before {
  position: absolute;
  top: 42%;
  margin-left: -38px;
  content: "";
  display: inline-block;
  width: 31px;
  height: 6px;
  background-color: #f59701;
}

.news-list__subtitle {
  margin-bottom: 11px;
  margin-top: 12px;
  text-align: center;
  font-family: Gilroy;
  color: #000000;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.news-list__thumb {
  overflow: hidden;
  margin-bottom: 12px;
}

.news-list__desc {
  margin-bottom: 15px;
  font-family: Gilroy;
  color: #000000;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.news-list__subtitle:hover,
.news-list__subtitle:focus {
  color: #15bf69;
}

.news-list__data {
  color: #15bf69;
  font-family: Gilroy;
  font-size: 9px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.news-list__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
  border-radius: 2px;
  background-color: #e8faf1;
  border: inherit;
  width: 71px;
  height: 23px;
  font-family: Gilroy;
  color: #15bf69;
  font-size: 11px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.news-list__btn:hover,
.news-list__btn:focus {
  background-color: #15bf69;
  color: #ffffff;
}

.news-list__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

@media (max-width: 869px) {
  .news-list__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .news-list__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 479px) {
  .news-list__list {
    grid-template-columns: 1fr;
  }
}
.pagging {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagging__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagging__list li {
  margin: 0 4.5px;
}

.pagging__item {
  width: 21px;
  height: 21px;
  font-family: Gilroy;
  color: #383838;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 17.33px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #f0f0f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagging__item:hover, .pagging__item:focus {
  background-color: #f59701;
  color: #ffffff;
}
.pagging__item-active {
  background-color: #f59701;
  color: #ffffff;
}

.pagging__arrow {
  max-width: 13px;
  max-height: 8px;
}

.news-item__title {
  position: relative;
  margin-left: 38px;
  margin-top: 51px;
  color: #000000;
  font-family: Gilroy;
  font-size: 22px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29.33px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .news-item__title {
    font-size: 25px;
  }
}
.news-item__title::before {
  position: absolute;
  margin-left: -38px;
  top: 42%;
  content: "";
  width: 26px;
  height: 5px;
  background-color: #f59701;
}
@media screen and (min-width: 768px) {
  .news-item__title::before {
    width: 31px;
    height: 6px;
  }
}

.news-item__data {
  margin-top: 12px;
  width: 35px;
  height: 9px;
  font-family: Gilroy;
  color: #15bf69;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.news-item__text {
  margin-top: 31px;
  font-family: Gilroy;
  color: #000000;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.67px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
}

.news-item__desc {
  font-weight: 700;
}

.news-item__link {
  color: #15bf69;
  font-weight: 500;
  text-decoration: underline;
}

.news-item__subtitle {
  margin-top: 31px;
  margin-bottom: 23px;
  color: #000000;
  font-family: Gilroy;
  font-size: 19px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 29.33px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.news-item__item {
  position: relative;
  margin-left: 11px;
  color: #000000;
  font-size: 11px;
  font-family: Gilroy;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.news-item__item:not(:last-child) {
  margin-bottom: 8px;
}
.news-item__item::before {
  position: absolute;
  left: -11px;
  top: 42%;
  content: "";
  display: block;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #f59701;
}

.news-item__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.news-item__gallery-item {
  max-width: 181px;
}

.news-item__gallery-item + .news-item__gallery-item {
  margin-left: 25px;
}

.news-item__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 39px;
  max-width: 387px;
}

.service-page {
  background-image: url(/images/service/bg-service-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1800px;
  max-height: 590px;
}

@media screen and (min-width: 768px) {
  .service-page__cover {
    max-width: 50%;
  }
}

.service-page__title {
  margin-bottom: 57px;
  font-weight: 800;
  font-family: Gilroy;
  font-size: 33px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 53px;
  text-align: left;
  color: #000000;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .service-page__title {
    font-size: 43px;
  }
}
.service-page__title--accent-color {
  color: #15bf69;
}

.service-page__text {
  margin-bottom: 40px;
  color: #000000;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  max-width: 405px;
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__box {
  max-width: 50%;
}
.features__box > div {
  max-width: 408px;
  max-height: 357px;
}

.features__case {
  position: absolute;
  bottom: 0%;
  left: 0px;
  z-index: 1;
}

.features__text {
  max-width: 700px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #000000;
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
@media screen and (min-width: 768) {
  .features__text {
    font-size: 16px;
  }
}

.features__item {
  position: relative;
  margin-left: 11px;
  color: #000000;
  font-size: 11px;
  font-family: Gilroy;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.features__item:not(:last-child) {
  margin-bottom: 8px;
}
.features__item::before {
  position: absolute;
  left: -11px;
  top: 42%;
  content: "";
  display: block;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #f59701;
}

.we-work__title {
  font-family: Gilroy;
  font-size: 36px;
  line-height: 53px;
  font-weight: 800;
  color: #000000;
  margin-top: 50px;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .we-work__title {
    font-size: 43px;
  }
}
.we-work__title::before {
  position: absolute;
  top: 42%;
  margin-left: -40px;
  content: "";
  display: inline-block;
  width: 31px;
  height: 6px;
  background-color: #f59701;
}
@media screen and (min-width: 768px) {
  .we-work__title::before {
    width: 46px;
    height: 9px;
    margin-left: -60px;
  }
}

.customer-reviews__title {
  position: relative;
  margin-left: 38px;
  margin-bottom: 60px;
  color: #000000;
  font-family: Gilroy;
  font-size: 43px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 52.97px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.customer-reviews__title::before {
  position: absolute;
  top: 42%;
  margin-left: -38px;
  content: "";
  display: inline-block;
  width: 31px;
  height: 6px;
  background-color: #f59701;
}

.customer-reviews__item {
  position: relative;
  max-width: 274px;
  max-height: 153px;
}
.customer-reviews__item:not(:last-child) {
  margin-right: 33px;
}

.customer-reviews__text {
  color: #000000;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.customer-reviews__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

ul.slick-dots {
  margin: 30px 0 0 0;
  text-align: center;
  display: block;
  margin: 128px auto;
}

ul.slick-dots li {
  display: inline-block;
  margin: 0 9px;
}

ul.slick-dots li button {
  border: none;
  background-color: #e8faf1;
  outline: none;
  cursor: pointer;
  font-size: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 12px;
  height: 12px;
}

ul li.slick-active button {
  background-color: #15bf69;
  width: 12px;
  height: 12px;
}/*# sourceMappingURL=main.css.map */