@import "./utils/normalize";
@import "./utils/variables";
@import "./utils/base";
@import "./layout/first_header";
@import "./layout/second_header";
@import "./layout/footer";
@import "./style-pages/index/hero";
@import "./style-pages/index/service-maintenance";
@import "./style-pages/index/cost-of-work";
@import "./style-pages/index/sale-of-spare-parts";
@import "./style-pages/index/popular-categories";
@import "./style-pages/index/parts-in-stock";
@import "./style-pages/index/free-consultation";
@import "./style-pages/index/our-clients";
@import "./style-pages/index/gallery";
@import "./style-pages/news-list/news-list";
@import "./style-pages/news-item/news-item";
@import "./style-pages/service/service";
@import "./style-pages/catalog/catalog";
@import "./style-pages/shopping-cart/shopping-cart";
@import "./style-pages/card-product/card-product";
@import "./layout/footer";
@import "./style-pages/ordering/ordering";
@import "./style-pages/order-accepted/order-accepted";
@import "./style-pages/category-item/category-item";
@import "./style-pages/contacts/contacts";
