// Каталог
.catalog {
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 90px;
  }
}
.catalog-breadcrumbs {
  margin-top: 0px;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    margin: 0 0 51px 274px;
  }
}
.catalog-breadcrumbs span {
  margin-right: 3px;

  color: getColor("accent");
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.69;
}
.catalog-breadcrumbs .catalog-breadcrumbs--current {
  color: #a5a6a6;
}
// Заголовок
.catalog__title {
  margin-bottom: 20px;
  color: getColor("darkText");
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 33px;
  letter-spacing: normal;
  line-height: 1.23;
  text-align: center;
  &::before {
    content: "";
    display: inline-block;
    transform: translateY(-127%);
    margin-right: 24px;

    width: 36px;
    height: 7px;
    background-color: getColor("secondaryAccent");
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 72px;
    font-size: 43px;

    &::before {
      width: 46px;
      height: 9px;
    }
  }
}
// Карточки каталога
.catalog__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    margin: -33px;
  }
}
.catalog__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - (15px * 6)) / 3);
  }
  @media screen and (min-width: 1200px) {
    margin: 33px;
    flex-basis: calc((100% - (33px * 6)) / 3);
  }
}
.catalog-card {
  position: relative;
  overflow: hidden;
  height: 460px;
  border-radius: 20px;
  background-color: getColor("backgroundGalerry");
  transition: all 250ms linear;

  &:hover {
    box-shadow: 0 0 31px 1px rgba(20, 191, 105, 0.32);
    background-color: getColor("accent");

    a {
      color: getColor("ligthText");
    }
    .catalog-card__label--color {
      background-color: getColor("secondaryAccent");
    }
    .catalog-card__label {
      opacity: 0.2;
    }
  }
}
.catalog-card__label--color {
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: getColor("accent");
  top: 0;
  left: 0;
}
.catalog-card__label {
  position: absolute;
  opacity: 0.7;
  bottom: 20px;
  left: 20px;
}
.catalog-card__meta {
  position: absolute;
  top: calc(54px+28px);
  padding: 10px 20px 10px 20px;
  z-index: 10;
  @media screen and (min-width: 1200px) {
    padding: 28px 40px 28px 40px;
  }
}

.catalog-card__title a {
  color: getColor("darkText");
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 2.8;
  text-align: left;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 19px;
  }
}
.catalog-card__product a {
  position: relative;
  color: getColor("darkText");
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: normal;
  line-height: 1.8;
  text-align: left;
  transition: all 250ms linear;

  &:hover {
    font-weight: 700;
    &::before {
      content: "";
      position: absolute;
      left: -40px;
      top: 4px;
      margin-right: 12px;
      width: 29px;
      height: 8px;
      background-color: getColor("secondaryAccent");
    }
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

// Кнопки фильтра
.catalog-filter {
  color: getColor("darkText");
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.81;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }
}
.catalog-filter__list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 60px;
  }
}
.catalog-filter__item {
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 60px;
  }
}
.catalog-filter__button {
  padding: 9px;
  color: getColor("darkText");
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.81;

  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 250ms linear, color 250ms linear;

  &:hover,
  &:focus {
    background-color: getColor("backgroundBtn");
    color: getColor("accent");
  }
}

// Карточки товара
.section-products {
  padding-bottom: 108px;
}
.catalog-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    margin: -15px;
  }
}
.catalog-grid__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - (15px * 6)) / 3);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - (15px * 8)) / 4);
  }
}
.catalog-product {
  height: 100%;
  border-radius: 10px;
  border: 1px solid #cdcece;
  background-color: #ffffff;
  overflow: hidden;
  transition: box-shadow 250ms linear;
  &:hover,
  &:focus {
    box-shadow: 0 0 37px 2px rgba(127, 127, 128, 0.15);
  }
}
.catalog-product__name {
  padding: 17px 25px 25px 20px;

  color: getColor("darkText");
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.5;
}
.catalog-product__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 25px 25px 20px;
}
.catalog-product__price {
  color: getColor("darkText");
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: normal;
  line-height: 1.41;
}
.catalog-product__button {
  color: getColor("accent");
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.5;

  background-color: getColor("backgroundBtn");
  cursor: pointer;
  padding: 10px 9px 8px 12px;
  border: 0px;
  border-radius: 3px;

  transition: background-color 250ms linear, color 250ms linear;

  &:hover,
  &:focus {
    background-color: getColor("accent");
    color: getColor("ligthText");
  }
}
// Навигация по страницам
.catalog-pagging {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.catalog-pagging__list {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}
.catalog-pagging__list li:first-child {
  margin-left: 0;
}
.catalog-pagging__list li {
  margin: 0 9px;
  @media screen and (max-width: 767px) {
    margin: 0 4px 4px 0;
  }
}
.catalog-pagging__item._active {
  background-color: getColor("secondaryAccent");
  border-color: getColor("secondaryAccent");
  color: getColor("ligthText");
}
.catalog-pagging__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  border-radius: 5px;
  border: 1px solid #f0f0f2;
  font-family: "Gilroy", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 26px;
  color: getColor("textHeader");

  transition: all 250ms linear;
  &:hover,
  &:focus {
    background-color: getColor("secondaryAccent");
    border-color: getColor("secondaryAccent");
    color: getColor("ligthText");
  }
}
.catalog-pagging__arrow {
  width: 19px;
  height: 12px;
  margin-left: 14px;
  margin-right: 14px;
}
// Декор
.catalog-decoration {
  position: absolute;
  top: 1700px;
  left: 940px;
  transform: rotate(-90deg);

  z-index: 100;
  opacity: 0.08;
  color: getColor("secondaryAccent");
  font-family: "Gilroy";
  font-weight: 900;
  font-size: 88px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;

  text-transform: uppercase;
  @media screen and (max-width: 1200px) {
    display: none;
  }
  &--brand {
    top: 200px;
    left: -340px;
  }
}
.catalog-circle {
  position: absolute;
  z-index: 100;
  &--gb {
    border-radius: 50%;
    width: 82px;
    height: 82px;
    border: 16px solid getColor("accent");
    box-shadow: 0 0 31px 1px rgba(20, 191, 105, 0.47);

    top: 680px;
    left: -255px;
  }
  &--gb2 {
    border-radius: 50%;
    width: 82px;
    height: 82px;
    border: 16px solid getColor("accent");
    box-shadow: 0 0 31px 1px rgba(20, 191, 105, 0.47);

    top: 2533px;
    left: -295px;
  }
  &--ob {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    border: 15px solid getColor("secondaryAccent");
    box-shadow: 0 0 31px 1px rgba(236, 137, 7, 0.27);

    top: 1760px;
    left: -200px;
  }
  &--gs {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    border: 16px solid getColor("accent");
    box-shadow: 0 0 31px 1px rgba(20, 191, 105, 0.47);

    top: 2290px;
    left: 1390px;
  }
  &--os {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 15px solid getColor("secondaryAccent");
    box-shadow: 0 0 31px 1px rgba(236, 137, 7, 0.27);

    top: 1000px;
    left: 1320px;
  }
  @media screen and (max-width: 1200px) {
    display: none;
  }
}
