.second-header {
  position: relative;
  border-bottom: 1px solid #e3e3e3;
  padding-top: 20px;
  padding-bottom: 20px;
}
.second-header__container {
  @media screen and (max-width: 1119px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.second-header__logo {
  width: 82px;
  height: 82px;

  @media screen and (min-width: 768px) {
    width: 100px;
    height: 100px;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 27px;
    left: 0;
    width: 143px;
    height: 143px;
  }
}

.second-header__wrap {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
// Навигация
.second-header__list {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 274px;
  }
}
.second-header__item {
  &:not(:last-child) {
    margin-right: 20px;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 43px;
    margin-left: 20px;
    background-image: url("../images/catalog_images/slash.png");

    transform: translateY(calc(100% / 3));
  }
  &:last-child:after {
    content: "";
    width: 7px;
    height: 43px;
    background-image: none;
    margin-left: 0;
  }
}
.second-header__item a {
  color: getColor("darkText");
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.69;
  position: relative;

  &:hover {
    font-weight: 800;
  }
  &:hover::after {
    content: "";
    position: absolute;
    bottom: -49px;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: getColor("secondaryAccent");
  }
}
// Контакты
.second-header__contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.second-header__phone {
  display: flex;
  align-items: center;
}
.second-header__phone a {
  color: getColor("darkText");
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.5;
}
.second-header__phone-image {
  width: 26px;
  height: 26px;
  margin-right: 9px;
}
.second-header__callback {
  margin-top: 5px;
  color: #838383;
  font-family: "Gilroy";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.5;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: end;
  }
}
