/*.container {
  outline: 1px solid red;
}*/
.second-header {
  position: relative;
  height: 100px;
  border-bottom: 1px solid #e3e3e3;
}

.second-header__logo--image {
  position: absolute;
  top: 27px;
  width: 143px;
  height: 143px;
}

.second-header__wrap {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}
.second-header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 1200px) {
    margin-left: 274px;
  }
}
.second-header__item {
  margin-right: 20px;

  &:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 43px;
    margin-right: 20px;
    background-image: url("../images/catalog_images/slash.png");

    transform: translateY(calc(100% / 3));
  }
}
.second-header__item > a {
  padding-top: 45px;
  padding-bottom: 45px;
  color: #000000;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 27px;
  position: relative;
}
.second-header__link {
  &--current {
    font-weight: 700;
  }

  &--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: getColor("secondaryAccent");
  }
}
.second-header__contacts {
  @media screen and (max-width: 1200px) {
    display: none;
  }
  padding-top: 20px;
  padding-bottom: 20px;
}
.second-header__contacts > a {
  color: #000000;
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1;
  &::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 9px;
    background-image: url("../images/catalog_images/phone_2.png");
    transform: translateY(calc(100% / 4));
  }
}

.second-header__callback {
  margin-top: 10px;
  color: #838383;
  font-family: "Gilroy";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1;
  text-align: right;
}
