.contacts {
  padding-top: 28px;

  &__breadcrumbs {
    margin-top: 0px;
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
      margin: 0 0 51px 274px;
    }
  }

  &__breadcrumbs span {
    margin-right: 3px;

    color: #14bf69;
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 1.69;
  }
}
.contacts__breadcrumbs .contacts__breadcrumbs--current {
  color: #a5a6a6;
}

// Заголовок
.contacts__title {
  margin-bottom: 91px;
  color: getColor("darkText");
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 33px;
  letter-spacing: normal;
  line-height: 1.23;
  text-align: center;
  &::before {
    content: "";
    display: inline-block;
    transform: translateY(-127%);
    margin-right: 24px;

    width: 36px;
    height: 7px;
    background-color: getColor("secondaryAccent");
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 72px;
    font-size: 43px;

    &::before {
      width: 46px;
      height: 9px;
    }
  }
}

.map {
  width: 100%;
  height: 357px;
}
//  Секция contacts-us

.container--contacts-us {
  padding-top: 100px;
  padding-bottom: 95px;
}

.contacts-us__bg {
  position: absolute;
  opacity: 0.07;
  font-family: Gilroy;
  font-size: 88px;
  line-height: 53px;
  font-weight: 900;
  color: getColor("secondaryAccent");
  transform: rotate(270deg);
  transform-origin: bottom left;
  left: -10%;
  bottom: 20%;
  @media screen and (max-width: 1099px) {
    display: none;
  }
}
.contacts-us__title {
  margin-bottom: 40px;
  color: getColor("darkText");
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 33px;
  letter-spacing: normal;
  line-height: 1.23;
  text-align: center;
  &::before {
    content: "";
    display: inline-block;
    transform: translateY(-127%);
    margin-right: 24px;

    width: 36px;
    height: 7px;
    background-color: getColor("secondaryAccent");
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    font-size: 43px;

    &::before {
      width: 46px;
      height: 9px;
    }
  }
}

// Контейнер с адресом

.contacts__container--decoration {
  background-image: url(../images/contacts/triangle.png);
  // max-width: 400px;
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  margin: 0 auto;
  width: 100%;
  padding-right: 13px;
  @media screen and (min-width: 768px) {
    position: absolute;
    max-width: 320px;
    top: 150px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 400px;
    top: 182px;
  }
}

.contacts__container-adress,
.contacts__address {
  font-family: Gilroy;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 31px;
  color: getColor("ligthText");
  margin-bottom: 40px;
}
.contacts__container-adress {
  background-image: url(../images/contacts/bg_contacts.png);
  background-size: cover;
  padding-top: 44px;
  padding-left: 37px;
  padding-bottom: 58px;
  margin-bottom: 0;
  width: 100%;
  height: 377px;
}
.contacts__subtitle--adress,
.contacts__subtitle--tel,
.contacts__social--text {
  font-weight: 800;
  font-style: normal;
  color: getColor("ligthText");
  margin-bottom: 14px;
}

.contacts__tel a {
  color: getColor("ligthText");
}
.contacts__tel {
  margin-bottom: 40px;
}

// Форма

.contacts-form {
  display: flex;
  justify-content: center;
  @media screen and(max-width:768px) {
    flex-direction: column;
  }
}
.form-field__wrap {
  display: flex;
  flex-direction: column;
}
.contacts-form__cover {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.contacts-form__text {
  text-align: center;
  margin-bottom: 60px;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  color: getColor("darkText");
}
.contacts-form__label {
  margin-bottom: 10px;
}
.contacts-form__label-check {
  @media screen and(min-width:768px) {
    margin-left: 10px;
  }
}

.contacts-form__label:not(:last-child) {
  @media screen and(min-width:768px) {
    margin-bottom: 10px;
  }
}

.contacts-form__input {
  padding-left: 28px;
  width: 442px;
  height: 58px;
  background-color: getColor("backgroundInput");
  border-radius: 3px;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: getColor("darkText");
  @media screen and(max-width:767px) {
    width: 100%;
  }

  @media screen and(min-width:768px) {
    width: 262px;
  }
}
.contacts-form__textarea {
  padding-top: 20px;
  padding-left: 28px;
  width: 442px;
  height: 193px;
  background-color: getColor("backgroundInput");
  border-radius: 3px;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: getColor("darkText");
  @media screen and(max-width:767px) {
    width: 100%;
  }
  @media screen and(min-width:768px) {
    width: 542px;
  }
}

.contacts-form__btn {
  background-color: getColor("accent");
  margin: 10px auto 20px auto;
  padding: 15px 57px;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 800;
  border-radius: 3px;
  border: none;
  text-align: center;
  display: block;
  color: getColor("ligthText");
  @media screen and (max-width: 767px) {
    padding: 15px 67px;
  }
}

.contacts-form__checkbox-text {
  font-family: Gilroy;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #828282;
  @media screen and (min-width: 767px) {
    line-height: 27px;
    font-size: 15px;
  }
}
.contacts-form__contract-link {
  font-weight: 500;
  color: getColor("accent");
  border-bottom: 1px dashed getColor("accent");
}

.contacts-form__checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 30px;
}
.contacts-form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.contacts-form__chekbox-icon {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid getColor("darkText");
  margin-right: 10px;
  transition: 250ms transform linear;
}
.contacts-form__checkbox:checked + .contacts-form__chekbox-icon {
  background-color: getColor("secondaryAccent");
  border-color: getColor("secondaryAccent");
  background-image: url(../images/chekbox.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  transform: scale(1.1);
}
//  Circle
.contacts-us__circle-green-small {
  position: absolute;
  left: 4%;
  bottom: 24%;
  transform: translateY(50%);
  z-index: 1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 14px solid getColor("accent");
  box-shadow: 0 0 31px 1px rgba(20, 191, 105, 0.47);

  @media screen and (max-width: 1099px) {
    display: none;
  }
}

.contacts-us__circle-green-big {
  position: absolute;
  left: -30%;
  top: 0;
  transform: translateY(-50%);
  z-index: 1;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 14px solid getColor("accent");
  box-shadow: 0 0 31px 1px rgba(20, 191, 105, 0.47);

  @media screen and (max-width: 1099px) {
    display: none;
  }
}

.contacts-us__circle-orange-big {
  position: absolute;
  right: 0;
  top: 16%;
  z-index: -1;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 15px solid getColor("secondaryAccent");
  box-shadow: 0 0 31px 1px rgba(236, 137, 7, 0.47);

  @media screen and (max-width: 1099px) {
    display: none;
  }
}

.contacts__circle-orange-small {
  position: absolute;
  right: -1%;
  top: 50%;
  z-index: -1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 15px solid getColor("secondaryAccent");
  box-shadow: 0 0 31px 1px rgba(236, 137, 7, 0.47);

  @media screen and (max-width: 1099px) {
    display: none;
  }
}
