.container--news-list {
  padding-top: 19px;
  padding-bottom: 73px;
}
.news-list__bg {
  position: absolute;
  opacity: 0.07;
  font-family: Gilroy;
  font-size: 80px;
  line-height: 53px;
  font-weight: 900;
  color: #f59701;
  transform: rotate(270deg);
  transform-origin: bottom left;
  left: -6%;
  top: 34%;
  @media screen and (max-width: 1099px) {
    display: none;
  }
}
.news-list__title {
  position: relative;
  // margin-left: 38px;
  font-family: Gilroy;
  margin-bottom: 48px;
  color: getColor("darkText");
  font-size: 29px;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  &::before {
    position: absolute;
    top: 42%;
    margin-left: -38px;
    content: "";
    display: inline-block;
    width: 31px;
    height: 6px;
    background-color: getColor("secondaryAccent");
  }
}
.news-list__subtitle {
  margin-bottom: 11px;
  margin-top: 12px;
  text-align: center;
  font-family: Gilroy;
  color: getColor("darkText");
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3;
  text-align: left;
}
.news-list__thumb {
  overflow: hidden;
  margin-bottom: 12px;
}
.news-list__desc {
  margin-bottom: 15px;
  font-family: Gilroy;
  color: getColor("darkText");
  font-size: 10px;
  font-weight: 400;
  line-height: 1.6;
}
.news-list__subtitle:hover,
.news-list__subtitle:focus {
  color: getColor("accent");
}
.news-list__data {
  color: getColor("accent");
  font-family: "Gilroy - Semibold";
  font-size: 9px;
  font-weight: 400;
  line-height: 1.8;
  text-align: left;
}
.news-list__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 23px;
  border-radius: 2px;
  background-color: getColor("backgroundBtn");
  border: inherit;
  width: 71px;
  height: 23px;
  font-family: Gilroy;
  color: getColor("accent");
  font-size: 11px;
  font-weight: 700;
  line-height: 1.5;
}
.news-list__btn:hover,
.news-list__btn:focus {
  background-color: getColor("accent");
  color: getColor("ligthText");
}
.news-list__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
@media (max-width: 869px) {
  .news-list__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .news-list__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 479px) {
  .news-list__list {
    grid-template-columns: 1fr;
  }
}
.news-list__circle-orange-big {
  position: absolute;
  right: -16%;
  bottom: 30%;
  z-index: -1;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 15px solid getColor("secondaryAccent");
  box-shadow: 0 0 31px 1px rgba(236, 137, 7, 0.47);

  @media screen and (max-width: 1099px) {
    display: none;
  }
}
.news-list__circle-orange-small {
  position: absolute;
  right: -1%;
  top: 3%;
  z-index: -1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 15px solid getColor("secondaryAccent");
  box-shadow: 0 0 31px 1px rgba(236, 137, 7, 0.47);

  @media screen and (max-width: 1099px) {
    display: none;
  }
}

.news-list__circle-green-big {
  position: absolute;
  left: -18%;
  bottom: 52%;
  z-index: -1;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 16px solid getColor("accent");
  box-shadow: 0 0 31px 1px rgba(20, 191, 105, 0.47);

  @media screen and (max-width: 1099px) {
    display: none;
  }
}
.news-list__circle-green-small {
  position: absolute;
  left: -18%;
  bottom: 0;
  transform: translateY(50%);
  z-index: 1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 14px solid getColor("accent");
  box-shadow: 0 0 31px 1px rgba(20, 191, 105, 0.47);

  @media screen and (max-width: 1099px) {
    display: none;
  }
}
.pagging {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagging__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagging__list li {
  margin: 0 4.5px;
}
.pagging__item {
  width: 21px;
  height: 21px;
  font-family: Gilroy;
  color: getColor("textHeader");
  font-size: 10px;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #f0f0f2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 250ms color linear;
  &:hover,
  &:focus {
    background-color: getColor("secondaryAccent");
    color: getColor("ligthText");
  }
  &-active {
    background-color: getColor("secondaryAccent");
    color: getColor("ligthText");
  }
}
.pagging__arrow {
  max-width: 13px;
  max-height: 8px;
}
