.cost {
  background-image: url(../images/index_cost_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}
.container.cost-container {
  padding-top: 72px;
  padding-bottom: 72px;

  @media screen and (max-width: 1199px) {
    padding-left: 60px;
  }
  @media screen and (max-width: 767px) {
    padding-left: 30px;
  }
}
.cost__title {
  font-family: Gilroy;
  font-size: 43px;
  line-height: 53px;
  font-weight: 800;
  color: getColor("darkText");
  margin-bottom: 33px;
  @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 35px;
  }
}
.cost__text {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: getColor("darkText");
  width: 38%;
  margin-bottom: 37px;
  @media screen and (max-width: 1199px) {
    width: 66%;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    width: 100%;
  }
}
.cost__input {
  font-family: Gilroy;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: #878888;
  padding-left: 45px;
  margin-right: 18px;
  outline: none;
  transition: 250ms border linear;
  @media screen and (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.cost__form-field .cost__btn {
  background-color: #15bf69;
  padding: 15px 57px;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 800;
  border-radius: 3px;
  border: none;
  text-align: center;
  color: #fff;
  transition: 250ms background-color linear;
  cursor: pointer;
  &:hover {
    background-color: #1baa62;
  }
  @media screen and (max-width: 767px) {
    padding: 15px 64px;
  }
}
.cost__input-icon {
  background-image: url(../images/index_cost_phone.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 18px;
  left: 11px;
  width: 22px;
  height: 12px;
}
.cost__form-field {
  margin-bottom: 35px;
  position: relative;
}
.cost__form-field:focus-within .cost__input {
  border: 1px solid #14bf69;
}
.cost__checkbox-text {
  font-family: Gilroy;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #828282;
  @media screen and (max-width: 767px) {
    line-height: 27px;
  }
  .cost__contract-link {
    font-weight: 500;
    color: getColor("accent");
    border-bottom: 1px dashed #14bf69;
  }
}
.cost__checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  @media screen and (max-width: 767px) {
    display: block;
  }
}
.cost__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.cost__chekbox-icon {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  margin-right: 10px;
  transition: 250ms transform linear;
}
.cost__checkbox:checked + .cost__chekbox-icon {
  background-color: getColor("secondaryAccent");
  border-color: getColor("secondaryAccent");
  background-image: url(../images/chekbox.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  transform: scale(1.1);
}
.cost__circle {
  position: absolute;
  top: -35px;
  right: -242px;
  @media screen and (max-width: 1700px) {
    display: none;
  }
}
