.free-consultation {
  background-image: url("../images/bg-nature.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 73px;
  padding-bottom: 69px;

  &__title {
    font-family: Gilroy;
    font-size: 19px;
    line-height: 53px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: inherit;
    text-transform: uppercase;
    color: getColor("darkText");

    margin-bottom: 33px;
  }

  &__subtitle {
    font-family: Gilroy;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    color: getColor("darkText");
    letter-spacing: 0;

    margin-bottom: 37px;
    max-width: 447px;
  }
}
