.gallery {
  background-color: getColor("backgroundGalerry");
  padding-top: 88px;
  padding-bottom: 87px;
  &__title {
    font-family: Gilroy;
    font-size: 36px;
    line-height: 53px;
    font-weight: 800;
    color: getColor("darkText");
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    @media screen and (min-width: 768px) {
      font-size: 43px;
    }
    &::before {
      position: absolute;
      transform: translate(-130%, 300%);
      content: "";
      width: 26px;
      height: 7px;
      background-color: getColor("secondaryAccent");
      @media screen and (min-width: 768px) {
        width: 46px;
        height: 9px;
        transform: translate(-150%, 250%);
      }
      @media screen and (min-width: 1200px) {
        transform: translate(-160%, 245%);
      }
    }
  }
}

.gallery__item {
  flex: 0 0 25%;
  width: 254px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
}

.gallerySlider {
}

.gallerySlider .slick-arrow {
  display: block;
  position: absolute;
  top: 62%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 15px;
  height: 25px;
}
.gallerySlider .slick-arrow.slick-prev {
  left: -36px;
  background-color: red;
  background: url("../../../images/left_arrow.png") 0 0 / 100% no-repeat;
}
.gallerySlider .slick-arrow.slick-next {
  right: -36px;
  background: url("../../../images/right_arrow.png") 0 0 / 100% no-repeat;
}
