.our-clients {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  // &__item:not(:nth-child(6n + 6)) {
  //   margin-right: 10px;
  // }

  &__item {
    outline: 1px solid red;
    height: 100%;
  }
  &__item:not(:nth-child(6n + 3)) {
    width: 200px;
  }
  &__item:nth-child(6n + 3) {
    width: 140px;
  }
}
