.stock__title {
  font-family: Gilroy;
  font-size: 36px;
  line-height: 53px;
  font-weight: 800;
  color: getColor("darkText");
  margin-top: 94px;
  text-align: center;
  position: relative;
  padding-bottom: 67px;
  @media screen and (min-width: 768px) {
    font-size: 43px;
  }
  &::before {
    position: absolute;
    transform: translate(-130%, 300%);
    content: "";
    width: 26px;
    height: 7px;
    background-color: getColor("secondaryAccent");
    @media screen and (min-width: 768px) {
      width: 46px;
      height: 9px;
      transform: translate(-150%, 250%);
    }
    @media screen and (min-width: 1200px) {
      transform: translate(-160%, 245%);
    }
  }
}
.stock__button {
  color: getColor("accent");
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.5;
  background-color: getColor("backgroundFilter");
  cursor: pointer;
  padding: 10px 9px 8px 12px;
  border: 0px;
  border-radius: 3px;
  transition: background-color 250ms linear, color 250ms linear;
  &:hover,
  &:focus {
    background-color: getColor("accent");
    color: getColor("ligthText");
  }
}
.stock__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
    margin: -15px;
  }
}
.stock__item {
  width: 271px;
  /*@media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }*/
  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - (10px * 4)) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - (20px * 8)) / 4);
  }
}
.stock__product {
  height: 100%;
  border-radius: 10px;
  border: 1px solid #cdcece;
  background-color: #ffffff;
  overflow: hidden;
}
.stock__name {
  padding: 17px 25px 25px 20px;
  color: getColor("darkText");
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.5;
}
.stock__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 25px 20px;
}
.stock__price {
  color: getColor("darkText");
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: normal;
  line-height: 1.41;
}
.slider {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - (20px * 8)) / 4);
  }
}
ul.slick-dots {
  text-align: center;
  display: block;
  margin-bottom: 95px;
}
ul.slick-dots li {
  display: inline-block;
  margin: 0 9px;
}
ul.slick-dots li button {
  border: none;
  background-color: getColor("backgroundBtn");
  outline: none;
  cursor: pointer;
  font-size: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 12px;
  height: 12px;
}
ul li.slick-active button {
  background-color: getColor("accent");
  width: 12px;
  height: 12px;
}
