// body {
//   background-color: #ffffff;
//   color: $primaryTextColor;

//   font-family: $Roboto, $SansSerif;
//   letter-spacing: -0.015em;
//   font-size: 14px;
//   line-height: 1.71;
// }
@import "../fonts/stylesheet.css" screen;
body {
  font-family: ‘Gilroy’;
  font-weight: 500;
}

ul {
  margin: 0px;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

// .container {
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }
