// Шрифты

body {
  font-family: ‘Gilroy’;
  font-weight: 500;
}

// Глобальные стили тегов

// Обнулить всё

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 0px;
  &.modal-open {
    overflow: hidden;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0px;
  padding-left: 0px;
}

// Глобальные селекторы

.container {
  position: relative;
  margin: 0px auto;
  width: 100%;

  max-width: 480px;
  padding: 0px 15px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

// Невидимый Заголовок

.invisible-heading {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
