$colors: (
  "accentSearch": #23dc7f,
  //Кнопка поиска
  "accent": #15bf69,
  //Кнопки = акцент, вкладки и фон на табах, кружочек на корзине, зеленый цвет в чекбоксе, текст "Подробнее", переключатель слайдера
  "textInput": #878888,
  //Текст в инпуте
  "ligthText": #ffffff,
  //Белый текст
  "menuBgc": #908f8f,
  //Подзаголовок в хедере
  "textHeader": #383838,
  //Основной текст в хедере
  "textTab": #9e9d9d,
  //Текст на табах
  "secondaryAccent": #f59701,
  //Псевдоэлементы, оранжевый текст в футере, активная страница
  "backgroundBtn": #e8faf1,
  //Фон кнопки подробнее
  "darkText": #000000,
  //Черный текст
  "navFooter": #bcbcbe,
  //Ссылки в футере
  "backgroundFilter": #e9faf2,
  //Фон в фильтре (Страница категория)
  "backgroundInput": #f4f4f4,
  //Фон инпута (страница контакты)
  "backgroundGalerry": #f2f2f2,
);
@function getColor($key) {
  @return map-get($colors, $key);
}
// Как записать цвет - пример
// color: getColor('secondaryText');
