// Секция service-page

.service-page {
  background-image: url(/images/service/bg-service-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1800px;
  max-height: 590px;
}

.service-page__cover {
  @media screen and (min-width: 768px) {
    max-width: 50%;
  }
}
.service-page__title {
  margin-bottom: 57px;
  font-weight: 800;
  font-family: Gilroy;
  font-size: 33px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 53px;
  text-align: left;
  color: getColor("darkText");
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  @media screen and (min-width: 768px) {
    font-size: 43px;
  }

  &--accent-color {
    color: getColor("accent");
  }
}
.service-page__text {
  margin-bottom: 40px;
  color: getColor("darkText");
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  max-width: 405px;
}

// Секция features

.container--flex {
  display: flex;
}
.features__box {
  max-width: 50%;

  & > div {
    max-width: 408px;
    max-height: 357px;
  }
}
.features__case {
  position: absolute;
  bottom: 0%;
  left: 0px;
  z-index: 1;
}
.features__text {
  max-width: 700px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: getColor("darkText");
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  @media screen and (min-width: 768) {
    font-size: 16px;
  }
}
.features__item {
  position: relative;
  margin-left: 11px;
  color: getColor("darkText");
  font-size: 11px;
  font-family: Gilroy;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  &::before {
    position: absolute;
    left: -11px;
    top: 42%;
    content: "";
    display: block;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: getColor("secondaryAccent");
  }
}
// Секция Как мы работаем

.we-work__title {
  font-family: Gilroy;
  font-size: 36px;
  line-height: 53px;
  font-weight: 800;
  color: getColor("darkText");
  margin-top: 50px;
  text-align: center;
  position: relative;
  @media screen and (min-width: 768px) {
    font-size: 43px;
  }
  &::before {
    position: absolute;
    top: 42%;
    margin-left: -40px;
    content: "";
    display: inline-block;
    width: 31px;
    height: 6px;
    background-color: getColor("secondaryAccent");
    @media screen and (min-width: 768px) {
      width: 46px;
      height: 9px;
      margin-left: -60px;
    }
  }
}

// Секция customer-reviews

.customer-reviews__title {
  position: relative;
  margin-left: 38px;
  margin-bottom: 60px;
  color: getColor("darkText");
  font-family: Gilroy;
  font-size: 43px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 52.97px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  &::before {
    position: absolute;
    top: 42%;
    margin-left: -38px;
    content: "";
    display: inline-block;
    width: 31px;
    height: 6px;
    background-color: getColor("secondaryAccent");
  }
}
// .customer-reviews__list {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   gap: 36px;
// }
.customer-reviews__item {
  position: relative;
  max-width: 274px;
  max-height: 153px;
  &:not(:last-child) {
    margin-right: 33px;
  }
}
.customer-reviews__text {
  color: getColor("darkText");
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.customer-reviews__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
//slider

ul.slick-dots {
  margin: 30px 0 0 0;
  text-align: center;
  display: block;
  margin: 128px auto;
}
ul.slick-dots li {
  display: inline-block;
  margin: 0 9px;
}
ul.slick-dots li button {
  border: none;
  background-color: #e8faf1;
  outline: none;
  cursor: pointer;

  font-size: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 12px;
  height: 12px;
}
ul.slick-dots li button:last-child {
}
ul li.slick-active button {
  background-color: getColor("accent");
  width: 12px;
  height: 12px;
}
